*{
	-webkit-transition:all 0.3s ease-in-out;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.background{
	font-family: 'Josefin Sans', 'HelveticaNeue-UltraLight', 'Courier New', Helvetica;
	font-weight:300;
	padding:0;
	margin:0;	
	background: url('../images/Brian.png') 0 0 no-repeat;
	background-attachment: fixed;
	background-size: 60%;
	background-position: center 10px;
}
#wrapper{
	padding:30px;
	margin-top:4%;
}
.qualifications{
	margin:0;
	padding:0;
	list-style:none;
	font-size:4em;
	z-index: 2;
	position: static;
}
.qualifications li{
	margin:20px 0;
}

.separate{
	visibility: visible;
	width: 50%;
}
#info{
	text-transform: none;
	text-align:center;
	color:#85BED5;
	width: 100%;
	margin: 0 0 auto;
}

.links{
	font-size:1.6em;
	position: static;
	text-transform:lowercase;
	color:#fff;
	text-decoration:none;
	-webkit-transition:all 0.2s ease-in-out;
}

.links:hover{
	color:#85BED5;
}

/*Media Queries*/
@media (max-width : 1824px) {
	.background{
		background-attachment: fixed;
		background-size: 45%;
		background-position: center 10px;
	}
	#wrapper{
		margin-top:0;
	}
	#info ul{
		font-size:2em;
		margin-top: 35%;
	}
	.separate{
		visibility: visible;
		width: 40%;
	}
}
@media (max-width : 1224px) {
	.background{
		background-attachment: fixed;
		background-size: 55%;
		background-position: center 10px;
	}
	#wrapper{
		margin-top:0;
	}
	#info ul{
		font-size:2.1em;
	}
	.separate{
		visibility: visible;
		width:40%;
	}
}
@media (max-width: 1024px){
	.background{
		background-attachment: fixed;
		background-size: 60%;
		background-position: center 10px;
	}
	#wrapper{
		margin-top:0;
	}
	#info ul{
		font-size:2em;
		margin-top: 45%;

	}
	.links{
		color:#333;
	}
	.links:hover{
		color:#85BED5;
		font-size:1.6em;
		margin:0 5px;
	}
	.separate{
		visibility: visible;
		width: 30%;
	}
}


@media (max-width: 768px){
	.background{
		background-attachment: fixed;
		background-size: 65%;
		background-position: center 10px;
	}
	#wrapper{
		margin-top:0;
	}
	#info ul{
		font-size:2.5em;
		margin-top: 65%;
	}

	.links{
		color:#333;
		font-size:1.6em;
		margin:0 5px;
	}
	.separate{
		visibility: visible;
		width: 50%;
	}
}

@media (max-width: 480px){
	.background{
		background-attachment: fixed;
		background-size: 75%;
		background-position: center 20px;
		font-weight: bold;
	}
	#wrapper{
		margin-top:0;
	}
	#info ul{
		font-size:2em;
		margin-top: 100%;
	}
	.links{
		color:#333;
		font-size:1.4em;
		
		margin:0 5px;
	}
	.separate{
		visibility: visible;
		width: 80%;
	}
@media (max-width: 300px){
	.background{
		background-attachment: fixed;
		background-size: 100%;
		background-position: center 10px;
		font-weight: 600;
	}
	#wrapper{
		margin-top:0;
	}
	#info ul{
		font-size:2em;
		margin-top: 100%;
	}
	.links{
		color:#333;
		font-size:1.3em;
		
		margin:0 5px;
	}